.logo 

{
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}



a:link 

{
  text-decoration: none;
  color: black;
}



a:visited 

{
  text-decoration: none;
  color: black;
}



a:hover 

{
  text-decoration: none;
  color: blue;
}



a:active 

{
  text-decoration: none;
  color: black;
}



#sign-in

{  
  padding: 2% 8%;
}

#try-it

{
  padding: 2% 8%;
}

.focus-on-your-business 

{ 
  grid-area: focus-on-your-business; display: inline-block; 
}



.sign-up-free 

{
  background-color: blue;
  border-color: blue;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  font-family: arial;
  font-weight: bold;
}



.chat-with-us

{
  background-color: white;
  border-color: blue;
  color: blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
  font-family: arial;
  font-weight: bold;
}

.header-list 

{
  display: inline!important;
  text-decoration-color: dodgerblue !important;
}



.option-grid 

{ 
  grid-area: option-grid; 
}

#photo-stuff

{
  top: 0;
  right: 0;
  
}


.line {
  border-bottom: 5px solid rgb(87, 85, 85);
  margin-top: 25px;
  margin-bottom: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.latin-1

{ 
  grid-area: latin-1;
  font-size: 25px;
  font-weight: bold;
}



.latin-2 

{ 
  grid-area: latin-2; 
  font-size: 25px;
  font-weight: bold;
}



.collect-useful-info

{
  grid-area: collect-useful-info; 
  border: 5px gray;
  border-radius: 10%;

}

.card-body

{ 
  grid-area: collect-useful-info; 
  background-color: blue;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

#card
{
 right: 30%;
 left: 30%;
}



.get-paid-sooner 

{ 
  grid-area: get-paid-sooner; 
}

.card-body-2

{ 
  grid-area: collect-useful-info; 
  background-color: blue;
}



.footer {
  width: 100%;
  height: auto;
  background-color: #2206f6;
  color: white;
  text-align: center;
}

.footer-button-4{
  background-color: rgb(33, 208, 53);
  bottom: 0;
  width: 20%;
  color:white;
  border: none;
}

.footer-button-5{
  
  color: white;
  left: 0;
  bottom: 0;
  width: 20%;
  margin-bottom: 60px;
}

.footer-button-4{
  padding: 6px 12px !important;}