.footer {
    width: 100%;
    height: auto;
    background-color: #2206f6;
    color: white;
    text-align: center;
}

.footer-button-4{
    background-color: rgb(33, 208, 53);
    bottom: 0;
    width: 20%;
    color:white;
    border: none;
}

.footer-button-5{
    background-color: rgb(241, 243, 241);
    color:#2206f6;
    left: 0;
    bottom: 0;
    width: 20%;
    margin-bottom: 60px;
}

.footer-button-4{
    padding: 6px 12px !important;
}

.line {
    border-bottom: 5px solid rgb(87, 85, 85);
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.img-1 {
    max-width:80%;
    height:auto;
    margin-left: auto;
}

.button-6{
    background-color: white;
    color:#040404;
    border-style: ridge;
}

.center-button-1{
    background-color: #2206f6;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 2px;
    cursor: pointer;
}

.center-button-2{
    background-color: #2206f6;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 2px;
    cursor: pointer;
}

.center-button-3{
    background-color: #2206f6;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 2px;
    cursor: pointer;
}

.center-button-4{
    background-color: #2206f6;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 2px;
    cursor: pointer;
}