.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #2206f6;
    color: white;
    text-align: center;
    z-index: 1;
}

.footer-button-4{
    background-color: rgb(33, 208, 53);
    bottom: 0;
    width: 20%;
    color:white;
    border: none;
}

.footer-button-5{
    background-color: rgb(241, 243, 241);
    color:#2206f6;
    left: 0;
    bottom: 0;
    width: 20%;
    margin-bottom: 60px;
}

.footer-button-4{
    padding: 6px 12px !important;
}

.line {
    border-bottom: 5px solid rgb(87, 85, 85);
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}