.placeholder{
    background-color: #3106f2;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 2px;
    cursor: pointer;
}

.placeholder{
    border-radius: 12px;
}

.float{
    float: right;
}

.blue-curve { 
    background: blue;
    border-radius: 25px; 
    width: 20%;
    height: 20%;
}

/* https://css-tricks.com/almanac/properties/c/clip-path/ */ 
/* Image shape shifting found here*/

.shape-style {
    clip-path: polygon(100% 100, 98% 100%, 100% 99%, 90% 89%, 70% 92%, 70% 98%, 0 100%, 0 0);
}

.left {
    clip-path: ellipse(100% 165% at 80% -65%);
}